pkgbase = tomat-bin
	pkgdesc = A Pomodoro timer for status bars
	pkgver = 2.12.0
	pkgrel = 1
	url = https://github.com/jolars/tomat
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = alsa-lib
	depends = gcc-libs
	provides = tomat
	conflicts = tomat
	options = !strip
	options = !debug
	source_x86_64 = tomat-2.12.0-x86_64-unknown-linux-gnu.tar.gz::https://github.com/jolars/tomat/releases/download/v2.12.0/tomat-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = 5be78df653ae315ad99505bdd82045a207632044258b9c3d62389591321a5048
	source_aarch64 = tomat-2.12.0-aarch64-unknown-linux-gnu.tar.gz::https://github.com/jolars/tomat/releases/download/v2.12.0/tomat-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = 5a5de81a0cb47bff58adcc270746208799a21be1b6237b61f4152a8612145f7a

pkgname = tomat-bin
